<div class="arenda-info-container">

  <div class="text">
    <h3>Арендуйте у нас самолет!</h3>
    <p>
      А вы боитесь высоты? А хотелось бы раз и навсегда избавиться от этого страха и получать удовольствие от ощущения невесомости в небе? Тогда вперед записываться на полеты на самолетах в Киеве! Вот уж где превосходная возможность доказать себе силу собственного духа и забыть о глупых страхах.
      <br><br>
      Возможность полетать на самолете в Киеве даже непродолжительное время подарит такой спектр незабываемых эмоций, который запомнится надолго и вызовет непреодолимое желание повторить.
      Перед тем, как отправиться в незабываемый полет на самолете в Киеве, пилот всех проинструктируют, а дальше – пристигните ремни и готовьтесь к ярким впечатлениям.
      Агентство полетов «В небо» для всех желающих организовывает полеты на самолете Киев славится большим числом любителей такого отдыха.
      Оригинально, эмоционально, незабываемо и экстремально - этими словами характеризуется каждый полет на самолете Киев и его бескрайнее небо уже ждет вас.
    </p>
    <button>
      Узнать подробнее
    </button>
  </div>

  <img src="../../assets/img/arenda.jpg" alt="arenda" title="">
  <!--
  <hr>
  <button (click)="continue()">Continue</button>-->
</div>