<div class="learn-info-container">

  <img src="../../assets/img/teach.jpg" alt="teach" title="">

  <div class="text">
    <h3>Мы занимаемся подготовкой пилотов на протяжении 10 лет!</h3>
    <p>Предоставляет теоретическую и практическую лётную подготовку как для любителей авиации, так и для будущих профессиональных пилотов гражданской авиации. Обучение проводится с «нуля» вплоть до уровня коммерческого пилота.
      <br><br>Это первая ступенька в большую авиацию и ваша путевка в небо. Система обучения в учебно-тренеровочном центре направлена на получение требуемых знаний в минимальные сроки. Пилоты-инструкторы высшей категории, квалифицированные преподаватели, обучающие видео и аудиоматериалы, специальная литература в комплексе предоставляют профессиональные знания, необходимые для получения желаемой категории и лицензии пилота.</p>
    <button>
      Узнать подробнее
    </button>
  </div>
  <!--
  <hr>
  <button (click)="continue()">
      Continue
  </button>-->
</div>