div#logo-name {
    margin-left: 100px;
    margin-top: 15px;
    img#logo {
        width: 120px;
        height: 120px;
    }
    div#site-name {
        width: 120px;
        text-align: center;
    }
}