div#slider {
    padding-top: 15px;
}

.my-slider {
    padding: 0;
    margin: auto;
    
    width: 1149px;
    height: 250px;
    justify-self: center;
    .container {
        width: 1149px;
        height: 250px;    
        padding: 0;
        margin: 0;
        overflow: hidden;
        position: relative;
        img {
            padding: 0;
            margin-left: 2px;
            margin-right: 2px;
            width: 379px;
            height: 250px;
            float: left;
        }
        .slides {
            width: 2322px;
            transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* анимация пролистывания изображений */
        }
    }
    label { /* при наведении на стрелки или переключатели - курсор изменится */
        cursor: pointer;
    }
    input{ /* скрывает стандартные инпуты (чекбоксы) на странице */
        display: none;
    }
    .my-labels { /* положение блока всех управляющих элементов */
        margin: -160px 0 0 4px; /* Поочередно устанавливается отступ от верхнего, правого, нижнего и левого края. */
        width: 100%;
        height: 50px;
        label:hover{ /* прозрачность стрелок при наведении */
	       opacity: 0.6;
        }
    }
}

#switch-1:checked ~ .my-labels label:nth-child(3), 
#switch-2:checked ~ .my-labels label:nth-child(1),
#switch-3:checked ~ .my-labels label:nth-child(2) {
	background: url('C:/Users/alexa/Desktop/Python/VisitingSite/angReady/src/assets/slider_pic/prev.png') no-repeat; /* заливка фона картинкой без повторений */
	float: left;
	margin: 0 0 0 -74px; /* сдвиг влево */
	display: block;
	height: 68px;
	width: 68px;
}

/* настройка переключения и положения для правой стрелки */
#switch-1:checked ~ .my-labels label:nth-child(2), 
#switch-2:checked ~ .my-labels label:nth-child(3),
#switch-3:checked ~ .my-labels label:nth-child(1) {
	background: url('C:/Users/alexa/Desktop/Python/VisitingSite/angReady/src/assets/slider_pic/next.png') no-repeat; /* заливка фона картинкой без повторений */
	float: right;
	margin: 0 -74px 0 0; /* сдвиг вправо */
	display: block;
	height: 68px;
	width: 68px;
}

/* позиция изображения при активации переключателя */

#switch-1:checked ~ .container .slides {
	margin-left: 0;
}

#switch-2:checked ~ .container .slides {
	margin-left: -383px;
}

#switch-3:checked ~ .container .slides {
	margin-left: -766px;
}