<div class="buy-info-container">
  <img src="../../assets/img/buy.jpg" alt="buy" title="">

  <div class="text">
    <h3>Мы продаем самолеты лучших брендов!</h3>
    <p>
      Покупка самолета становится обычным делом, если вы обращаетесь к профессионалам. Всю заботу, связанную с покупкой самолёта возьмет на себя УТЦ Авиатор. Мы поможем вам купить самолет с учетом всех пожеланий, предоставим необходимую консультацию, сопроводим сделку от покупки самолёта до его регистрации. Цены на самолеты представлены в широком диапазоне, что позволит выбрать самолет с учетом ваших возможностей.</p>
    <button>
      Узнать подробнее
    </button>
  </div>
  <!--
  <hr>
  <button (click)="continue()">Continue</button>-->
</div>
